*{
	margin: 0;
	padding: 0;
	font-family: 'Cinzel', serif;
}

@font-face {
font-family: myFirstFont;
src: url(GanpatiSymbolys.TTF);
}

div {
  background-repeat: no-repeat, repeat;
  background-image: url("img_tree.gif"), url("paper.gif");
  background-blend-mode: lighten;
}

int num = 29;
        boolean flag = false;
        for(int i = 2; i <= num/2; ++i)
        {
            if(num %  if (!flag)
            System.out.println(num + " is a prime number.");
        else
            System.out.println(num + " is not a prime number.");

            System.out.println(num + " is a prime number.");
        else
            System.out.println(num + " is not a prime number.");

header{
	width: 100%;
	height: 100vh;
	background-image: url('back1.png');
	background-size: 100% 100%
}

header h2{
	text-align: center;
	word-spacing: 10px;
	font-size: 4em;
	font-weight: 600;
	animation:  ganpatiji 1s infinite;
}

header h2 span {
	font-family: myFirstFont;
}

header h6 span {
	font-family: myFirstFontFamily;
}        boolean flag = false;
        for(int i = 2; i <= num/2; ++i)
        {
            if(num % i == 0)
            {
                flag = true;
                break;
            }
        }
  background-repeat: no-repeat, repeat;
  background-image: url("img_tree.gif"), url("paper.gif");
  background-blend-mode: lighten;
}

int num = 29;
        boolean flag = false;
        for(int i = 2; i <= num/2; ++i)
        {
            if(num %  if (!flag)
            System.out.println(num + " is a prime number.");
        else
            System.out.println(num + " is not a prime number.");


        if (!flag)
            System.out.println(num + " is a prime num

@keyframes ganp   if (!flag)
            System.out.println(num + " is a prime number.");
        else
            System.out.println(num + " is not a prime number.");

header{
	width: 100%;
	height: 100vh;atiji{
	0%{color:red;}
	30%{color: pink;}
	50%{color: #FC8704;}
	75%{color: #42BFEB;}
	100%{color: green;}
}

.centerimg{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.centerimg h3{
	width: 107%;
	color: #000;
	text-align: center;
	font-size: 1.6em;
	font-weight: 600;
	word-spacing: 10px;
}

@media (max-width: 640px){

        if (!flag)
            System.out.println(num + " is a prime num

@keyframes ganp   if (!flag)
            System.out.println(num + " is a prime number.");
        else
            System.out.println(num + " is not a prime number.");

header{
	width: 100%;
	height: 100vh;atiji{
	0%{color:red;}
	30%{color: pink;}
	50%{color: #FC8704;}
header h2{

	word-spacing: 5px;
	font-size: 3em;
	}

.centerimg{
	margin-top: 60px;
}

.centerimg img{
	width: 250px;
}

.centerimg h3{
	font-size: 1.2em;
	word-spacing: 0px;
	width: 100%;
}
}

https://www.mp3mine.com/mp3/vakratunda-mahakaya-song-female-voice.htmlS
